$color_txt_primary: #fff;
$color_txt_secondary: #000;
$color_txt_tertiary: #1869C4;
$color_txt_error: #d31c1c;
$background_color_primary: #fff;
$background_color_secondary: #f0f2f5;
$background_color_tertiary: #1d2a41;
$button_color_primary: #1869C4;
$button_color_secondary: #d31c1c;
$button_color_tertiary: #33363b;
$border_color_primary: #e4e6eb;
$border_color_secondary: #000;
$shadow_color: #7e7e7e;