$color_txt_primary: #fff;
$color_txt_secondary: #000;
$color_txt_tertiary: #0079d3;
$background_color_primary: #fff;
$background_color_secondary: #f0f2f5;
$background_color_tertiary: #1d2a41;
$button_color_primary: #0079d3;
$button_color_secondary: #ec1c24;
$border_color: #e4e6eb;
$shadow_color: #7e7e7e;