* {
    margin: 0;
    padding: 0;        
}

body {
    background-color: $background_color_secondary;
}

header{
    background-color: $background_color_primary;
}

nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 28%;
}

h2 {
    margin-bottom: 15px;
}
 
h3 {
    margin-top: 10px;
}

li {
    list-style: none;
}