* {
    margin: 0;
    padding: 0;        
}
html {
    height: 100%;
}

body {
    background-color: $background_color_secondary;
    height: 100%;
}

header{
    background-color: $background_color_tertiary;
}

nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

h2 {
    margin-bottom: 15px;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

img{
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 28%;
}

textarea {
    resize: none;
    padding: 12px 0 12px 8px;
    border-radius: 15px;
    width: 98.5%;
    border: transparent;
    background-color: $background_color_secondary;
    outline: none;
}
